.header {
  background-color: #000000;
  padding: 20px 0;
}
.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu__item {
  margin-right: 50px;
  color: #c9c9c9;
  text-decoration: none;
  text-align: center;
}
.header-menu__item:hover {
  color: #ff9b51;
}
.header-menu__item:last-child {
  margin-right: 0;
}
.header__toggle-menu-button {
  display: none;
}