@import "./header.scss", "./footer.scss", "./awesome.scss", "./contact.scss", "./custom.scss", "./design.scss", "./features.scss", "./price.scss", "./social.scss", "./top.scss", "./media.css", "./reset.css";
.orange {
    color: #ff9b51;
  }
  .bg-orange {
    background-color: #ff9b51;
  }
  .bc-orange {
    border-color: #ff9b51;
  }
  .container {
    max-width: 1132px;
    width: 100%;
    margin: auto;
    padding: 0 16px;
    box-sizing: border-box;
  }
